@model IEnumerable<HiddenInTheBook.Models.Product>


<div class="row pb-3">
	@foreach (var product in Model)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1 rounded-top">
					<div class="card rounded-0 border-0 shadow-sm">
						<img src="@product.ImageUrl" class="card-img-top rounded-0" style="height: 300px;" />

						<div class="card-body">
							<div class="pl-1">
								<p class="card-title h5 text-primary">@product.Title</p>
								<p class="card-title text-info">by <b>@product.Author</b></p>
							</div>
							<div class="pl-1">
								List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike>
							</div>
							<div class="pl-1">
								As low as: <b>$@product.Price100.ToString("0.00")</b>
							</div>
						</div>
					</div>
					<div>
						<a asp-action="Details" class="btn btn-primary form-control rounded-0" asp-route-productId="@product.Id">
							Details
						</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>